* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
    );
    background-size: 100vw 250vh;
    font-family: 'IBM Plex Mono', monospace;
    height: 100vh;
    font-size: 10px;
  }

/* se a tela tiver pelo menos 400px*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
      justify-content: center;
    }
  }

/* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /* breakpoint */
  @media (mind-width: 1200px) {
    body {
      font-size:20px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #dcdcdd;
    position: fixed;
    width: 90vw;
    top: 0px;
    font-size: 25px;
    height: 60px;
    margin: 30px 0px;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    display: block;
    padding: 13px 30px;
  }
  
  a {
    color: #1985a1;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-tittle {
    color: #46494c;
    text-align: center;
  }
  
.site-tittle {
  font-size: 4em;
  font-family: 'Merienda', cursive;
}

  .site-subtittle {
    color: #4c5c68;
    font-style: Italic;
    font-family: georgia;
    text-align: center;
  }

  .portfolio {
    padding: 2em;
    height: 100vh
  }
  
  .portfolio h2 {
    font-family: 'Courgette', cursive;
    margin-bottom: 0.5em;
    font-size: 4em;
  }

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 1100px) {
  .portfolio .grid {
    grid-template-columns: 480px 480px;
    justify-content: center;
    align-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

  .img-portfolio {
    height: 300px;
    width: 480px;
    object-fit: cover;
  }




  
  
  
  
  
  
      
     