* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
    background-image: url("../img/scenic-view-of-mountain-during-evening-2085998.jpg"), url("../img/unnamed.jpg");
    background-repeat: no-repeat, repeat;
    background-size: auto 100vh;
    font-family: 'IBM Plex Mono', monospace;
    height: 100vh;
    font-size: 10px;
  }

/* se a tela tiver pelo menos 400px*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

/* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  /* breakpoint */
  @media (mind-width: 1200px) {
    body {
      font-size:20px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #dcdcdd;
    position: fixed;
    width: 90vw;
    top: 0px;
    font-size: 25px;
    margin: 30px 0px;
    z-index: 1;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    display: block;
    padding: 13px 30px;
    transition: background-color 0.8s, color 0.8s;
  }

  .menua a:active,
  .menu a:hover {
    background-color: #1985A1;
    color: #DCDCDD;
  }
  
  a {
    color: #1985a1;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s, step-end infinite;
  }
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

  .site-tittle {
    color: white;
    text-align: center;
  }
  
.site-tittle {
  font-size: 4em;
  font-family: 'Merienda', cursive;
}

  .site-subtittle {
    color: white;
    font-style: Italic;
    font-family: georgia;
    text-align: center;
  }

  .sobre,
  .portfolio {
    padding: 2em;
    height: 100vh;
  }

  .sobre {
    font-size: 1.5em;
    padding: 2em;
    height: 90vh;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .sobre p {
    color: black;
    text-indent: 1.5em;
    margin-bottom: 1.5em;
  }

  .sobre a {
    color: black;
    text-decoration: underline;
    }

  .sobre a:hover {
    background-color: #46494c;
    text-decoration: none;
    color: #1985a1;
    }

  .sobre h2 {
    color: #DCDCDD;
    font-family: 'Courgette', cursive;
    font-size: 4em;
  }

  .sobre .profile img {
    clip-path: polygon(20% 0%, 0% 20%, 4% 51%, 0% 80%, 20% 100%, 52% 96%, 80% 100%, 100% 80%, 96% 50%, 100% 20%, 80% 0%, 50% 3%);
  }

  .sobre .profile {
    float: right;
    margin-left: 1.3em;
  }

  .portfolio h2 {
    color: #DCDCDD;
    font-family: 'Courgette', cursive;
    margin-bottom: 0.5em;
    font-size: 4em;
  }

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 1100px) {
  .portfolio .grid {
    grid-template-columns: 560px 520px;
    justify-content: center;
    align-content: center;
  }
}

.portfolio figure {
  text-align: center;
  font-size: 1.5em;
}

  .img-portfolio {
    height: 300px;
    width: 480px;
    margin-bottom: 1em;
    object-fit: cover;
    object-position: top;
    transition: transform 0.5s;
  }

  .img-portfolio:active,
  .img-portfolio:hover{
    transform: scale(1.2);
  }

.contato .grid {
  text-align: center;
}

.contato h2 {
  color: #DCDCDD;
  font-family: 'Courgette', cursive;
  margin-top: 1em;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  font-size: 4em;
}

  .contato a {
    font-size: 6em;
    color: rgb(131, 131, 131);
    align-items: center;
    transition: text-shadow 0.6s, color 0.6s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: #DCDCDD;
  }
